.mui {
  ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgba(0, 0, 0, 0.26);
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(0, 0, 0, 0.26);
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(0, 0, 0, 0.26);
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 0.26);
  }
  color: rgba(0, 0, 0, 0.46);
  small {
    font-size: 75%;
    font-weight: normal;
  }
  .shadow {
    box-shadow: 0 0 10px gray;
  }
  .form-control {
    padding: 0.4375rem 0;
    // border-bottom: 1px solid lightgray;
    border-top: none;
    border-left: none;
    border-right: none;
    display: block;
    width: 100%;
    padding: 0.4375rem 0;
    font-size: 1rem;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.4);
    background-color: transparent;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .radio {
    color: rgba(0, 0, 0, 0.36);
  }
  .form-control:focus {
    border-bottom: 1px solid $blue;
    color: rgba(0, 0, 0, 0.64);
  }
  .has-error {
    .form-control {
      border-bottom: 1px solid red;
    }
    .form-control:focus {
      border-bottom: 1px solid red;
    }
  }
  .has-success {
    .form-control {
      border-bottom: 1px solid #5cb85c !important;
    }
  }
}
